
@model CategoryIndexDTOs
@{
    ViewData["Title"] = "Create";
}


<div class="add-form">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-7 ">
                <div style="background-color:#2BA9AF;">
                    <h1 class="update-header">Add Your Category</h1>
                </div>
                <form method="Post" enctype="multipart/form-data" asp-action="Create" asp-controller="Category">
                    <div class="row">
                        <div class="col-md-2">

                       @*     @for(int i =0; i< Model.Products.Count; i++)
                            {
                                <label asp-for="Products[i].ProductName"></label>
                                <input asp-for="Products[i].ProductName" class="form-control" />

                                <label asp-for="Products[i].Price"></label>
                                <input asp-for="Products[i].Price" class="form-control" />
                                
                            }*@

                    
                        </div>
                        <div class="col-md-10">
                            <label asp-for="CategoryCreateDTOs.CategoryName"></label>
                            <input asp-for="CategoryCreateDTOs.CategoryName" class="form-control" />
                        </div>

                        <table id="productTable" class="table">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="detailRow">
                                    <td>
                                        <input type="text" name="CategoryCreateDTOs.Products[0].ProductName" class="form-control" required />
                                    </td>
                                    <td>
                                        <input type="text" name="CategoryCreateDTOs.Products[0].Price" class="form-control" required />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger removeRow">Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">
                                        <button type="button" class="btn btn-primary" id="addRow">Add Row</button>
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>

                    

                    <div class="button-part mt-4">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="submit" value="ADD CATEGORY" class="btn btn-primary" />

                            </div>
                            <div class="col-md-9">
                                <a asp-action="Index" asp-controller="Journal" class="btn btn-danger">BACK TO ADMIN</a>


                            </div>
                        </div>

                    </div>


                </form>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function(){
        //Add Row
        $('#addRow').click(function(){
            var rowCount = $('#productTable tbody tr').length;
            var newRow = $('.detailRow').first().clone();
            newRow.find('input').val('');
            newRow.find('input').attr('name', 'Products[' + rowCount + '].ProductName');
            newRow.appendTo($('#productTable tbody'));
        });

        $(document).on('click', '.removeRow', function(){
            if ($('#productTable tbody tr').length > 1)
            {
                $(this).closest('tr').remove();
            }
        });
    });
</script>


