@using BLL.DTOs;
@using BLL.DTOs.Category;
@model CategoryIndexDTOs


<h12>Successfully Added Category</h12>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }



    .numeric {
        text-align: center;
    }

    .center {
        text-align: center;
    }

  
</style>
<table>
    <thead>
        <tr>
            <th>CategoryId</th>
            <th class="numeric">CategoryName</th>
            <th class="numeric">Action</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.CategoryListDTOs.Count(); i++)
        {
            <tr>
                <td>@Model.CategoryListDTOs[i].CategoryId</td>
                <td class="numeric">@Model.CategoryListDTOs[i].CategoryName</td>
                <td class="numeric currency">
                    <a asp-action="Update" asp-controller="Category" asp-route-id="@Model.CategoryListDTOs[i].CategoryId"> <i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@Model.CategoryListDTOs[i].CategoryId"> <i class="fa-sharp fa-solid fa-trash"></i></a>
                </td>

            </tr>
            
        }
       
  
    </tbody>

</table>
